/* I used these classes for the drop indicators css so they won't clash with the layout in the item lists */

.top-div::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #669df1;
    z-index: 1;
    border-radius: 10px;
}

.btm-div::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #669df1;
    z-index: 1;
    border-radius: 10px;
}
