/* I used these classes for the drop indicators css so they won't clash with the layout in the item lists */

.top-div::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 0;
    border-top: 2px dashed #669df1;
    z-index: 1;
}

.btm-div::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 0;
    border-top: 2px dashed #669df1;
    z-index: 1;
}
